table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid mix($lightest-gray, $lighter-gray);
  text-align: left;
  margin-bottom: 1*$baseline;

  > thead {
    background-color: mix($off-white, $lightest-gray);
    border-bottom: 1px solid mix($lightest-gray, $lighter-gray);
  }

  > tfoot {
    background-color: #F2F2F2;
    border-top: 1px solid mix($lightest-gray, $lighter-gray);
  }

  th, td {
    border-left: 1px solid mix($lightest-gray, $lighter-gray);
    border-right: 1px solid mix($lightest-gray, $lighter-gray);
    padding: 12px;
  }

  td {
    width: 50%;
  }

  p {
    margin-bottom: 0;
  }

  tr {
    border-bottom: 1px solid mix($lightest-gray, $lighter-gray);
    text-align: left;
    &:last-child {
      border-bottom: none;
    }
  }
}