// ┌────────┐
// │ CONFIG │
// └────────┘
// Sets default value for base Relative Em.
html {
  font-size: 16px;
}

// ┌─────────────────┐
// │ THE PICA        │
// └─────────────────┘
// Adopts the concept of the Pica as measurement.
// This abstraction away from rem breaks any
// rem size into 12 units, pulling from classical
// typographic systems.

// Sets 1pica = 1rem
$pica: 1rem;
// Sets 1point = 1/12 rem
$point: $pica/12;
// sets 1p to 1point
$p: $point;

// ┌─────────────────┐
// │ SCALE:  MUSICAL │
// └─────────────────┘
// Classical musical proportions.
$octave: 1/2;
$major7th: 1/1.875;
$minor7th: 1/1.778;
$major6th: 1/1.667;
$minor6th: 1/1.6;
$fifth: 1/1.5;
$dim5th: 1/1.414;
$aug4th: 1/1.414;
$fourth: 1/1.33;
$major3rd: 1/1.25;
$minor3rd: 1/1.2;
$major2nd: 1/1.125;
$minor2nd: 1/1.067;
$unison: 1/1;

// ┌─────────────────┐
// │ PROPORTIONS     │
// └─────────────────┘
// Define which two proportions our project uses.
// Primary Proportion
$proportion: $major7th;
// Secondary Proportion
$tonal: $minor3rd;

// ┌─────────────────┐
// │ PER CENT        │
// └─────────────────┘
// Digests proportions into usable percent
// values for use in layouts.
$width: $tonal*100%;
$measure: $proportion*100%;
$un-measure: (100%/$measure)*100%;
$edge: (100%-$measure);
$spine: $tonal*(100%-$measure);

// ┌─────────────────┐
// │ BASELINE        │
// └─────────────────┘
// Sets Vertical rhythym for project
$baseline: 24*$point;