/*
┌──────────────────────────────┐
├──────────────────────────────┤
│ Point Sizes - Reference      │
├──────────────────────────────┤
├──────────────────────────────┤
│ POINTS      REM    REM@16 PX │
├──────────────────────────────┤
│ 6                            │
├──────────────────────────────┤
│ 7                            │
├──────────────────────────────┤
│ 8                            │
├──────────────────────────────┤
│ 9                            │
├──────────────────────────────┤
│ 10                           │
├──────────────────────────────┤
│ 11                           │
├──────────────────────────────┤
│ 12p         1rem        16px │
├──────────────────────────────┤
│ 14                           │
├──────────────────────────────┤
│ 16                           │
├──────────────────────────────┤
│ 18                           │
├──────────────────────────────┤
│ 21                           │
├──────────────────────────────┤
│ 24                           │
├──────────────────────────────┤
│ 36                           │
├──────────────────────────────┤
│ 48                           │
├──────────────────────────────┤
│ 60                           │
├──────────────────────────────┤
│ 72                           │
├──────────────────────────────┤
│                              │
├──────────────────────────────┤
└──────────────────────────────┘
*/

// ┌─────────────────┐
// │ POINTSIZES      │
// └─────────────────┘

@mixin p9 {
  // Adjust moves the baseline of the typeface
  // to the bottom of the line height. This
  // prevents the baseline floating in the
  // vertical center of line heights that are
  // a multiple of the baseline.
  $adjust: 0;
  // Font Size is based on % of a REM.
  font-size: 9*$point;
  // Line Height defined by tc-config.
  line-height: 1*$baseline;
  // Zeroing Margin Top allows baseline.
  margin-top: 0;
  // Padding-top and Margin-bottom mirror.
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}

@mixin p10 {
  $adjust: 0;
  font-size: 10*$point;
  line-height: 1*$baseline;
  margin-top: 0;
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}
@mixin p11 {
  $adjust: 0;
  font-size: 11*$point;
  line-height: 1*$baseline;
  margin-top: 0;
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}
@mixin p12 {
  $adjust: 0;
  font-size:12*$point;
  line-height: 1*$baseline;
  margin-top: 0;
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}
@mixin p14 {
  $adjust: 0;
  font-size:14*$point;
  line-height: 1*$baseline;
  margin-top: 0;
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}
@mixin p16 {
  $adjust: 0;
  font-size:16*$point;
  line-height: 1*$baseline;
  margin-top: 0;
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}
@mixin p18 {
  $adjust: 0;
  font-size:18*$point;
  line-height: 1*$baseline;
  margin-top: 0;
  padding-top: *$p;
  margin-bottom: -*$p;}
@mixin p21 {
  $adjust: 0;
  font-size:21*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: *$p;
  margin-bottom: -*$p;}
@mixin p24 {
  $adjust: 0;
  font-size:24*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: *$p;
  margin-bottom: -*$p;}
@mixin p36 {
  $adjust: 0;
  font-size: 36*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}
@mixin p48 {
  $adjust: 0;
  font-size: 48*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}
@mixin p60 {
  $adjust: 0;
  font-size: 60*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}
@mixin p72 {
  $adjust: 0;
  font-size: 72*$point;
  line-height: 2*$baseline;
  margin-top: 0;
  padding-top: $adjust*$p;
  margin-bottom: -$adjust*$p;}

// TODO: Do this stuff. Wire in Modular Scale helper? Add pixel fallbacks?
// ┌─────────────────┐
// │ TO REM          │
// └─────────────────┘
// @function calculateRem($size) {
//   $remSize: $size / 12;
//   //Default font size on html element is 100%, equivalent to 16px, or 12 point.;
//   @return $remSize*1rem;
// }

// ┌─────────────────┐
// │ PIXEL FALLBACK  │
// └─────────────────┘
// @mixin fontSize($size) {
//   font-size: $size*1px;
//   font-size: calculateRem($size);
// }