// ┌───────────┐
// │ TYPEFACES │
// └───────────┘

// ┌─────────────────┐
// │ SAMPLE TYPEFACE │
// └─────────────────┘

// Sample typeface construction with explicit weight definitions, bold and italic.
// This is generated for Whitney as served from cloud.typography.com
%WhitneyBook {
  font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 400; font-style: normal;
  strong { @extend %WhitneySemibold}
  em { @extend %WhitneyBookItalic}}

%WhitneyBookItalic {
  font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 400; font-style: italic;
  strong { @extend %WhitneySemiboldItalic}}

%WhitneySemibold {
  font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: normal;
  strong { @extend %WhitneyBold}
  em { @extend %WhitneyBoldItalic}}

%WhitneySemiboldItalic {
  font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 600; font-style: italic;
  strong { @extend %WhitneyBoldItalic}}

%WhitneyBold {font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 700; font-style: normal;}
%WhitneyBoldItalic {font-family: 'Whitney SSm A', 'Whitney SSm B'; font-weight: 700; font-style: italic;}
