
// Pica Measures
$pica: 1rem;
$point: $pica/12;

// Modular Scale Settings

$ratio: minor-sixth();
$baseFontSize: 12px;
$importantModNum: 96px;
$base-size: $baseFontSize $importantModNum;
// point values:  9.156, 12.000, 14.649, 19.200, 23.438, 30.720, 37.500, 49.152, 60.000, 78.643, 96.000
// pica values: 0.763, 1, 1.221, 1.6, 1.953, 2.56, 3.125, 4.096, 5, 6.554, 8

// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale by scottkellum

// Vertical Rythym

$baseline: 1;

// Typefaces

@mixin dinThin {
	font-family:"Din Display Pro Thin", Verdana, sans-serif; font-size-adjust:0.49; font-weight:100; font-style:normal;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
}

@mixin dinMedium {
	font-family:"Din Display Pro Medium", Verdana, sans-serif; font-size-adjust:0.5; font-weight:500; font-style:normal;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
}

@mixin droidSerif {
  font-family: 'Droid Serif', serif;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
}


// Point Sizes

$small: 1*$pica;
  $leadingSmall: 2*$baseline*$pica;
@mixin small {
  font-size: $small;
  line-height: $leadingSmall;
  padding-top: 0.221*$pica;
  margin-bottom: $leadingSmall;
}
.small {
  @include small
}

$normal: 1.221*$pica;
  $leadingNormal: 2*$baseline*$pica;
@mixin normal {
  font-size: $normal;
  line-height: $leadingNormal;
  margin-bottom: $leadingNormal;
}
.normal {
  @include normal
}

$medium: 1.6*$pica;
  $leadingMedium: 3*$baseline*$pica;
@mixin medium {
  font-size: $medium;
  line-height: $leadingMedium;
  margin-bottom: $leadingMedium;
}
.medium {
  @include medium
}

$large: 1.953*$pica;
  $leadingLarge: 3*$baseline*$pica;
@mixin large {
  font-size: $large;
  line-height: $leadingLarge;
  margin-bottom: $leadingLarge;
}
.large {
  @include large
}

$huge: 2.56*$pica;
  $leadingHuge: 3*$baseline*$pica;
@mixin huge {
  font-size: $huge;
  line-height: $leadingHuge;
  margin-bottom: $leadingHuge;
}
.huge {
  @include huge
}

$massive: 3.125*$pica;
  $leadingMassive:4*$baseline*$pica;
@mixin massive {
  font-size: $massive;
  line-height: $leadingMassive;
  margin-bottom: $leadingMassive;
}
.massive {
  @include massive
}

$gigantic: 4.096$pica;
  $leadingGigantic: 4*$baseline*$pica;
@mixin gigantic {
  font-size: $gigantic;
  line-height: $leadingGigantic;
  margin-bottom: $leadingGigantic;
}
.gigantic {
  @include gigantic
}

// CASES

@mixin upperCase {
  text-transform: uppercase;
}

@mixin lowerCase {
  text-transform: lowercase;
}

// Leading and Tracking Options

$headLeading: 1*$baseline*$pica;

$oneLine: 1*$baseline*$pica;

$twoLine: 2*$baseline*$pica;

$threeLine: 3*$baseline*$pica;

$sixLine: 6*$baseline*$pica;


@mixin headLeading {
  line-height: $headLeading;
}

@mixin oneLineLead {
  line-height: $oneLine;
}

@mixin twoLineLead {
  line-height:$twoLine;
}

@mixin threeLineLead {
  line-height: $threeLine;
}

@mixin wideTrack {
  letter-spacing: 4*$point;
}

@mixin narrowTrack {
  letter-spacing: 2*$point;
}


// RULES
$threePointRule: 3*$point solid $black;

@mixin threePointRule {
  border-bottom: $threePointRule;
}

$twoPointRule: 2*$point solid $black;

@mixin twoPointRule {
  border-bottom: $twoPointRule;
}

/* 
  Fonts
*/

// Case: Din Thin;
@mixin DinThin12Point {
  @include small;
  @include dinThin;
  margin-bottom: $headLeading
}

@mixin DinThin14Point {
  @include normal;
  @include dinThin;
  margin-bottom: $headLeading
}

@mixin DinThin19Point {
  @include medium;
  @include dinThin;
  margin-bottom: $headLeading
}

@mixin DinThin23Point {
  @include large;
  @include dinThin;
  margin-bottom: $headLeading
}

@mixin DinThin30Point {
  @include huge;
  @include dinThin;
  margin-bottom: $headLeading
}

@mixin DinThin37Point {
  @include massive;
  @include dinThin;
  margin-bottom: $headLeading
}

@mixin DinThin49Point {
  @include gigantic;
  @include dinThin;
  margin-bottom: $headLeading
}

// Case: Din Medium;
@mixin DinMedium12Point {
  @include small;
  @include dinMedium;
  margin-bottom: $headLeading
}

@mixin DinMedium14Point {
  @include normal;
  @include dinMedium;
  margin-bottom: $headLeading
}

@mixin DinMedium19Point {
  @include medium;
  @include dinMedium;
  margin-bottom: $headLeading
}

@mixin DinMedium23Point {
  @include large;
  @include dinMedium;
  margin-bottom: $headLeading
}

@mixin DinMedium30Point {
  @include huge;
  @include dinMedium;
  margin-bottom: $headLeading
}

@mixin DinMedium37Point {
  @include massive;
  @include dinMedium;
  margin-bottom: $headLeading
}

@mixin DinMedium49Point {
  @include gigantic;
  @include dinMedium;
  margin-bottom: $headLeading
}

// Case: Droid Serif;
@mixin DroidSerif12Point {
  @include small;
  @include droidSerif;
}

@mixin DroidSerif14Point {
  @include normal;
  @include droidSerif;
}

@mixin DroidSerif19Point {
  @include medium;
  @include droidSerif;
}

@mixin DroidSerif23Point {
  @include large;
  @include droidSerif;
}

@mixin DroidSerif30Point {
  @include huge;
  @include droidSerif;
}

@mixin DroidSerif37Point {
  @include massive;
  @include droidSerif;
}

@mixin DroidSerif49Point {
  @include gigantic;
  @include droidSerif;
}

/*
	Styles
*/

body {
  @include DroidSerif14Point;
  color: $black;
}

p {
  @include DroidSerif14Point;
}

h1 {
  @include DinThin49Point;
  @include wideTrack;
}

h2 {
  @include DinThin37Point;
  @include wideTrack;
}

h3 {
  @include DinThin30Point;
  @include wideTrack;
}

h4 {
  @include DinThin23Point;
  @include narrowTrack;
}

h5 {
  @include DinThin19Point;
  @include narrowTrack;
}

h6 {
  @include DinThin14Point;
  @include narrowTrack;
}

.marginalia p {
  @include DroidSerif12Point;
}