.max-line-length {
  max-width: 45rem;
  margin: auto; }

.header-light, .header-light-italic, .header-face, h1,
h2,
h3,
h4,
h5,
h6, .header-italic, .header-bold, .header-bold-italic {
  letter-spacing: 0em; }

.header-light {
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", "Avenir Next W01", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal; }
  .header-light b, .header-light strong {
    font-weight: 400; }

.header-light-italic {
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", "Avenir Next W01", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-style: italic; }
  .header-light-italic b, .header-light-italic strong {
    font-weight: 400; }

.header-face, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", "Avenir Next W01", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal; }
  .header-face b, h1 b,
  h2 b,
  h3 b,
  h4 b,
  h5 b,
  h6 b, .header-face strong, h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong,
  h6 strong {
    font-weight: 600; }

.header-italic {
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", "Avenir Next W01", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-style: italic; }
  .header-italic b, .header-italic strong {
    font-weight: 600; }

.header-bold, h5, h6 {
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", "Avenir Next W01", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-style: normal; }
  .header-bold b, h5 b, h6 b, .header-bold strong, h5 strong, h6 strong {
    font-weight: 600; }

.header-bold-italic {
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", "Avenir Next W01", "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-style: italic; }
  .header-bold-italic b, .header-bold-italic strong {
    font-weight: 600; }

.body-face, body, .body-italic, .body-bold, dl dt, .body-bold-italic {
  letter-spacing: 0.03em; }

.body-face, body {
  font-family: "Whitney SSm A", "Whitney SSm B", "Frutiger W01", "Lucida Grande", "Segoe UI", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal; }
  .body-face b, body b, .body-face strong, body strong {
    font-weight: 700; }

.body-italic {
  font-family: "Whitney SSm A", "Whitney SSm B", "Frutiger W01", "Lucida Grande", "Segoe UI", "Arial", sans-serif;
  font-weight: 400;
  font-style: italic; }
  .body-italic b, .body-italic strong {
    font-weight: 700; }

.body-bold, dl dt {
  font-family: "Whitney SSm A", "Whitney SSm B", "Frutiger W01", "Lucida Grande", "Segoe UI", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal; }
  .body-bold b, dl dt b, .body-bold strong, dl dt strong {
    font-weight: 700; }

.body-bold-italic {
  font-family: "Whitney SSm A", "Whitney SSm B", "Frutiger W01", "Lucida Grande", "Segoe UI", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal; }
  .body-bold-italic b, .body-bold-italic strong {
    font-weight: 700; }

.secondary-face, .secondary-italic, .secondary-bold, .secondary-bold-italic {
  letter-spacing: 0.01em; }

.secondary-face {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Kepler W08 Caption", Georgia, serif;
  font-weight: 400;
  font-style: normal; }
  .secondary-face b, .secondary-face strong {
    font-weight: 700; }

.secondary-italic {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Kepler W08 Caption", Georgia, serif;
  font-weight: 400;
  font-style: italic; }
  .secondary-italic b, .secondary-italic strong {
    font-weight: 700; }

.secondary-bold {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Kepler W08 Caption", Georgia, serif;
  font-weight: 700;
  font-style: normal; }
  .secondary-bold b, .secondary-bold strong {
    font-weight: 700; }

.secondary-bold-italic {
  font-family: "Sentinel SSm A", "Sentinel SSm B", "Kepler W08 Caption", Georgia, serif;
  font-weight: 700;
  font-style: italic; }
  .secondary-bold-italic b, .secondary-bold-italic strong {
    font-weight: 700; }

html {
  font-size: 16px; }

body {
  font-size: 1rem;
  line-height: 1.65rem;
  line-height: 1.65rem;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'liga= 1','calt=0';
  -moz-font-feature-settings: "liga" 1,"calt" 0;
  -webkit-font-feature-settings: "liga" 1,"calt" 0;
  -ms-font-feature-settings: 'liga= 1','calt=0';
  -o-font-feature-settings: "liga" 1,"calt" 0;
  font-feature-settings: "liga" 1,"calt" 0; }
  body small, body sup, body sub {
    font-size: 0.75rem; }

h1 {
  font-size: 2.53125rem;
  line-height: 3.3rem; }
  h1 small, h1 sup, h1 sub {
    font-size: 2.25rem; }

h2 {
  font-size: 2.25rem;
  line-height: 3.3rem; }
  h2 small, h2 sup, h2 sub {
    font-size: 1.6875rem; }

h3 {
  font-size: 1.6875rem;
  line-height: 2.475rem; }
  h3 small, h3 sup, h3 sub {
    font-size: 1.5rem; }

h4 {
  font-size: 1.5rem;
  line-height: 2.475rem; }
  h4 small, h4 sup, h4 sub {
    font-size: 1.125rem; }

h5 {
  font-size: 1.125rem;
  line-height: 1.65rem; }
  h5 small, h5 sup, h5 sub {
    font-size: 1rem; }

h6 {
  font-size: 1rem;
  line-height: 1.65rem; }
  h6 small, h6 sup, h6 sub {
    font-size: 0.75rem; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote {
  margin-top: 0;
  margin-bottom: 1.65rem; }

ul, ol {
  padding: 0;
  list-style-position: inside; }
  ul ul, ul ol, ol ul, ol ol {
    padding-left: 1.65rem; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl dd {
  margin-left: 0;
  margin-bottom: 1.65rem; }

code, kbd, pre, samp {
  font-family: "Consolas", "Andale Mono", "Lucida Console", "Monaco", "Courier New", Courier, monospace; }

code {
  white-space: pre; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }
  pre code {
    display: block;
    overflow: auto;
    word-wrap: normal; }

mark {
  padding: 0 0.1em 0.1em; }
